body {
    margin-top: 60px;
    background-color: lightblue;
}
.title_page {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: red
}